@import url("/src/css/common.css"); /* 변수 */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap"); /* 폰트 */

@font-face {
  font-family: "PartialSans";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-1@1.1/PartialSansKR-Regular.woff2")
    format("woff2");
  font-weight: normal;
  font-display: swap;
}

.wrapper {
  position: relative;
  width: 90%;
  max-width: 1320px;
  min-width: 320px;
  box-sizing: border-box;
  padding: 0;
  margin: 0 auto;
}
.title {
  display: flex;
  justify-content: center;
  padding: 40px 0 30px;
  box-sizing: border-box;
}
h1 span {
  position: relative;
  top: 20px;
  display: inline-block;
  animation: bounce 0.5s ease infinite alternate;
  font-family: "PartialSans", cursive;
  font-weight: 600;
  font-size: 6.5rem;
  color: var(--main);
  text-shadow: 0 1px 0 var(--sub), 0 2px 0 var(--sub), 0 2px 0 var(--sub),
    0 3px 0 var(--sub), 0 3px 0 var(--sub), 0 5px 0 transparent,
    0 5px 0 transparent, 0 5px 0 transparent, 0 7px 0 transparent,
    0 10px 10px rgba(0, 0, 0, 0.4);
}
h1 span + span {
  margin-left: 12px;
}

h1 span:nth-child(2) {
  animation-delay: 0.1s;
}
h1 span:nth-child(3) {
  animation-delay: 0.2s;
  margin-right: 20px;
  margin-left: 20px;
}
h1 span:nth-child(4) {
  animation-delay: 0.3s;
}
h1 span:nth-child(5) {
  animation-delay: 0.4s;
}
h1 span:nth-child(6) {
  animation-delay: 0.5s;
}
h1 span:nth-child(7) {
  animation-delay: 0.6s;
}
h1 span:nth-child(8) {
  animation-delay: 0.7s;
}
h1 span:nth-child(9) {
  animation-delay: 0.8s;
}
h1 span:nth-child(10) {
  animation-delay: 0.9s;
}
h1 span:nth-child(11) {
  animation-delay: 1s;
}

@keyframes bounce {
  100% {
    top: -10px;
    text-shadow: 0 1px 0 var(--sub), 0 2px 0 var(--sub), 0 3px 0 var(--sub),
      0 4px 0 var(--sub), 0 5px 0 var(--sub), 0 6px 0 var(--sub),
      0 7px 0 var(--sub), 0 8px 0 var(--sub), 0 9px 0 var(--sub),
      0 50px 25px rgba(0, 0, 0, 0.2);
  }
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.result {
  margin: 60px auto 40px;
}
.result > p {
  font-size: 4rem;
  line-height: 4rem;
  font-weight: 600;
  color: var(--black);
  text-transform: uppercase;
  letter-spacing: -0.6pt;
}

.result > .up,
.result > .down {
  font-weight: 700;
}

.result > .up {
}
.result > .down {
}

.result > .win {
  font-weight: 900;
  text-transform: uppercase;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-size: 400%;
  animation: move 5s ease infinite;
  background-image: linear-gradient(
    68.7deg,
    rgba(29, 173, 235, 1) 13.2%,
    rgba(137, 149, 250, 1) 29.8%,
    rgba(229, 109, 212, 1) 48.9%,
    rgba(255, 68, 128, 1) 68.2%,
    rgba(255, 94, 0, 1) 86.4%
  );
}
@keyframes move {
  0%,
  100% {
    background-position: 200% 0%;
  }

  50% {
    background-position: 0% 200%;
  }
}

input,
button {
  background: none;
  border: none;
  font-size: 1rem;
  padding: 12px 30px;
  text-align: center;
}

button {
  cursor: pointer;
}

.buttonWrap {
  display: flex;
  border: 2px solid var(--main);
  border-radius: 30px;
  width: 100%;
  max-width: 600px;
  margin-bottom: 40px;
}
.buttonWrap:last-of-type {
  margin-bottom: 0;
  text-align: center;
  border: none;
}

#userInput {
  box-sizing: border-box;
  width: calc(100% - 80px);
}

#playBtn {
  background: var(--main) !important;
  position: relative;
  border: 1px solid transparent;
  transition: all 0.5s;
  width: 80px;
  padding: 12px 20px;
  border-radius: 30px;
}

#playBtn > p {
  color: var(--white);
  z-index: 2;
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  font-weight: 700;
  transition: all 0.5s;
}

#playBtn:hover {
  background: var(--white);
  border-color: var(--main);

  transition: all 0.5s;
}
#playBtn:hover > p {
  color: var(--main);
  transition: all 0.5s;
}

#playBtn:disabled {
  opacity: 0.6 !important;
  cursor: unset;
}

#playBtn:disabled:hover {
  background: var(--main);
  position: relative;
  border: 1px solid transparent;
}
#playBtn:disabled:hover:before {
  display: none;
}
#playBtn:disabled:hover > p {
  color: var(--white);
}

.re_btn {
  width: 100%;
  transition: all 0.5s;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  border: 2px solid var(--light);
  background: var(--light);
  border-radius: 70px;
  position: relative;
  overflow: hidden;
}
.re_btn:before {
  content: "";
  display: block;
  width: 0;
  border-radius: 70px;
  background: var(--white);
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  transition: all 0.3s linear;
}
.re_btn:hover {
  border-color: var(--main);
}
.re_btn:hover:before {
  width: 100%;
  opacity: 1;
  height: 100%;
}
.re_btn p {
  display: block;
  font-weight: 600;
  font-style: normal;
  color: var(--white);
  position: relative;
  z-index: 2;
  transition: all 0.3s linear;
}
.re_btn:hover p {
  color: var(--main);
}
#chanceArea {
  font-size: 1.5rem;
  letter-spacing: -0.54px;
  color: var(--black);
  margin: 25px 0 12px;
  font-weight: 400;
}

#chanceArea.third {
  color: orange;
}

#chanceArea.fifth {
  color: red;
  font-weight: 500;
}
/*******************************************************************************
    @media  ~1200px               
*******************************************************************************/
@media all and (max-width: 1200px) {
  .title {
    padding: 30px 0 25px;
  }
  h1 span {
    font-size: 5.8rem;
  }

  .result {
    margin: 50px auto 35px;
  }
  .result > p {
    font-size: 4rem;
    line-height: 4rem;
    letter-spacing: -0.6pt;
  }

  input,
  button {
    padding: 12px 30px;
  }

  .buttonWrap {
    border: 2px solid var(--main);
    border-radius: 30px;
    margin-bottom: 40px;
  }

  #userInput {
    width: calc(100% - 80px);
  }

  #playBtn {
    width: 80px;
    padding: 12px 20px;
    border-radius: 30px;
  }

  .re_btn {
    border: 2px solid var(--light);
    background: var(--light);
    border-radius: 70px;
  }
  .re_btn:before {
    border-radius: 70px;
  }

  #chanceArea {
    font-size: 1.5rem;
    letter-spacing: -0.54px;
    margin: 25px 0 12px;
  }
}

/*******************************************************************************
    @media  ~980px               
*******************************************************************************/
@media all and (max-width: 980px) {
  .title {
    padding: 25px 0 20px;
  }
  h1 span {
    font-size: 4.8rem;
    text-shadow: 0 1px 0 var(--sub), 0 2px 0 var(--sub), 0 2px 0 var(--sub),
      0 3px 0 var(--sub), 0 3px 0 var(--sub), 0 5px 0 transparent,
      0 5px 0 transparent, 0 5px 0 transparent, 0 6px 0 transparent,
      0 8px 8px rgba(0, 0, 0, 0.4);
  }
  @keyframes bounce {
    100% {
      top: -10px;
      text-shadow: 0 1px 0 var(--sub), 0 1px 0 var(--sub), 0 2px 0 var(--sub),
        0 3px 0 var(--sub), 0 4px 0 var(--sub), 0 5px 0 var(--sub),
        0 6px 0 var(--sub), 0 7px 0 var(--sub), 0 8px 0 var(--sub),
        0 40px 20px rgba(0, 0, 0, 0.2);
    }
  }
  h1 span + span {
    margin-left: 10px;
  }

  h1 span:nth-child(3) {
    margin-right: 16px;
    margin-left: 16px;
  }

  .result {
    margin: 40px auto 30px;
  }
  .result > p {
    font-size: 3rem;
    line-height: 3rem;
  }

  input,
  button {
    padding: 10px 20px;
  }

  .buttonWrap {
    border: 2px solid var(--main);
    margin-bottom: 30px;
  }

  #userInput {
    width: calc(100% - 60px);
  }

  #playBtn {
    width: 60px;
    padding: 10px 20px;
  }

  .re_btn {
    border: 2px solid var(--light);
    border-radius: 60px;
  }
  .re_btn:before {
    border-radius: 60px;
  }

  #chanceArea {
    font-size: 1.2rem;
    margin: 20px 0 12px;
  }
}

/*******************************************************************************
    @media 481~680px
*******************************************************************************/
@media all and (max-width: 680px) {
  .title {
    padding: 20px 0 15px;
  }
  h1 span {
    font-size: 4rem;
    text-shadow: 0 1px 0 var(--sub), 0 1px 0 var(--sub), 0 1px 0 var(--sub),
      0 2px 0 var(--sub), 0 2px 0 var(--sub), 0 2px 0 transparent,
      0 3px 0 transparent, 0 3px 0 transparent, 0 3px 0 transparent,
      0 4px 4px rgba(0, 0, 0, 0.2);
  }
  @keyframes bounce {
    100% {
      top: -10px;
      text-shadow: 0 1px 0 var(--sub), 0 1px 0 var(--sub), 0 1px 0 var(--sub),
        0 1px 0 var(--sub), 0 2px 0 var(--sub), 0 3px 0 var(--sub),
        0 4px 0 var(--sub), 0 5px 0 var(--sub), 0 6px 0 var(--sub),
        0 20px 12px rgba(0, 0, 0, 0.2);
    }
  }

  h1 span + span {
    margin-left: 4px;
  }

  h1 span:nth-child(3) {
    margin-right: 10px;
    margin-left: 10px;
  }

  .result {
    margin: 25px auto 16px;
  }
  .result > p {
    font-size: 2.4rem;
    line-height: 2.4rem;
  }

  .buttonWrap {
    border: none;
    margin-bottom: 20px;
    width: 100%;
    flex-direction: column;
  }

  .buttonWrap > input {
    border: 1px solid var(--main);
    margin-bottom: 8px;
    width: 100% !important;
    border-radius: 40px;
  }

  #playBtn {
    width: 100%;
  }

  .re_btn {
    border: 1px solid var(--light);
    border-radius: 40px;
  }
  .re_btn:before {
    border-radius: 40px;
  }

  #chanceArea {
    margin: 16px 0 8px;
  }
}
/*******************************************************************************
    @media 481~680px
*******************************************************************************/
@media all and (max-width: 480px) {
  .title {
    flex-wrap: wrap;
  }
}
