/* 변수 */
@import url("/newsTimes/common.css");
/* 폰트 */
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");
/* 영문 */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

.pc {
  display: block;
}
.mo {
  display: none;
}

.container {
  max-width: 1350px;
  width: 90%;
  margin: 0 auto;
}
.header {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.logo {
  width: 480px;
  height: auto;
  margin: 20px auto;
}
.logo svg {
  width: 100%;
  height: auto;
}

/* pc menu */
.menus {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-top: 1px solid var(--border);
  border-bottom: 4px double var(--basic);
  width: 100%;
}
.menus li {
  transition: all 0.3s ease;
}
.menus li a {
  display: block;
  width: 100%;
  transition: all 0.3s ease;
  padding: 10px 8px;
  box-sizing: border-box;
  text-align: center;
}
.menus li:hover {
  background: var(--grayBg);
}

.box {
  padding: 20px 0;
  box-sizing: border-box;
  border-bottom: 1px solid var(--border);
  transition: all 0.3s ease;
}
.box > a {
  display: flex;
  width: 100%;
  cursor: pointer;
}
.box:hover {
  background: var(--grayBg);
  padding-left: 40px;
}

.img_cont {
  width: 460px;
  overflow: hidden;
  aspect-ratio: 5 / 3.7443;
}
.img_cont > img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.txt_cont {
  width: calc(100% - 460px);
  padding-left: 30px;
  box-sizing: border-box;
}
.cate {
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 0;
  color: var(--main);
  margin-bottom: 16px;
}
.title {
  font-size: 2rem;
  letter-spacing: -1px;
  line-height: 130%;
  margin-bottom: 40px;
  color: var(--black);
  font-weight: 700;
  transition: all 0.3s ease;
}
.box:hover .title {
  color: var(--main);
}
.cont {
  font-size: 1rem;
  letter-spacing: -0.54px;
  line-height: 160%;
}

.source {
  display: flex;
  gap: 10px;
  margin-top: 40px;
}
.source > p {
  font-size: 14px;
  letter-spacing: 0;
  line-height: 130%;
}
