/***** S:: 변수 *****/
:root {
  /**** !! 코딩시 지우지 말 것 !! ****/

  /* 컬러 */
  --main: #9900ff;
  --black: #222222;
  --white: #fff;
  --basic: #444;
  --border: #dddddd;
  --border2: #bbbbbb;
  --grayBg: #f3f4f9;

  /* 폰트 */
  --kor: "Noto Sans", "Poppins", Malgun Gothic, "Malgun Gothic", sans-serif;
  --eng: "Poppins", "Noto Sans", Malgun Gothic, "Malgun Gothic", sans-serif;
  --icon: "Material Symbols Outlined";

  /**** !! 코딩시 지우지 말 것 !! ****/

  /* 높이 */
  --vh: 100%;
}
/***** E:: 변수 *****/

/*******************************************************************************
    @media 1350px
*******************************************************************************/
@media all and (max-width: 1350px) {
}

/*******************************************************************************
    @media ~1280px
*******************************************************************************/
@media all and (max-width: 1280px) {
}

/*******************************************************************************
    @media  ~980px               
*******************************************************************************/
@media all and (max-width: 980px) {
}

/*******************************************************************************
    @media 481~680px
*******************************************************************************/
@media all and (max-width: 680px) {
  /***** S:: 변수 *****/
}

/*******************************************************************************
    @media ~480px               
*******************************************************************************/
@media all and (max-width: 480px) {
}
/*******************************************************************************
    @media ~360px
*******************************************************************************/
@media all and (max-width: 360px) {
}
